

#title
{
    background-color: #A4ADD3;
    color: #1c3c34;
    font-size: 40px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif
    /*display: flex;*/
   /* border-radius: 5%;*/
}

#separator
{
    background-color: #1c3c34;
    height: 2px;
}

#date_item
{
    font-size: 10px;
}

.legacy-form-row
{
    border: 0px;
    font-size: 20px;
    margin-bottom: 10px;
    /*
    display: flex;
    flex-direction: row;
    justify-content: space-between; */
    
}

.radio-label {
    margin-right: 25px;
}

  

.item {
    font-size: 40px;
    border: 2px;
    border-color: red;
    height: 100px;
    color: #1c3c34;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    
}

.subApp {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  
    font-family: Arial;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #705D97;
    font-size: small;
  }