

#title
{
    background-color: #c9d0cf;
    color: #1c3c34;
    font-size: 40px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif
    /*display: flex;*/
   /* border-radius: 5%;*/
}

#separator
{
    background-color: #1c3c34;
    height: 2px;
}

#date_item
{
    font-size: 10px;
}

.legacy-form-row
{
    border: 0px;
    font-size: 20px;
    margin-bottom: 10px;
    /*
    display: flex;
    flex-direction: row;
    justify-content: space-between; */
    
}

.radio-label {
    margin-right: 25px;
}

  

.item {
    font-size: 40px;
    border: 2px;
    border-color: red;
    height: 80px;
    color: #1c3c34;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.subApp {
    background-color: #e1ebea;
    display: flex;
    flex-direction: column;
    
}

.md-mobile-picker-header {
    font-size: 14px;
}

input.md-mobile-picker-input {
    color: initial;
    width: 100%;
    padding: 10px;
    margin: 6px 0 12px 0;
    border: 1px solid #ccc;
    border-radius: 0;
    font-family: arial, verdana, sans-serif;
    font-size: 14px;
    box-sizing: border-box;
}

.md-mobile-picker-button.mbsc-button {
    font-size: 13px;
    padding: 0 15px;
    line-height: 36px;
    float: right;
    margin: 6px 0;
    width: 100%;
}

.mbsc-col-no-padding {
    padding-left: 0;
}

.md-mobile-picker-box-label.mbsc-textfield-wrapper-box,
.md-mobile-picker-box-label .mbsc-textfield-wrapper-box,
.md-mobile-picker-inline {
    margin: 6px 0 12px 0;
}