.App {
  text-align: center;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}



/* CSS */
.button-34 {
  background: #5E5DF0;
  border-radius: 999px;
  box-shadow: #5E5DF0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}

#separator
{
    background-color: #1c3c34;
    height: 2px;
}


#logo
{
  scale: 10%;
  padding-right: 100px;
}

.App-header {
  background-color: #ffffff;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;

  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  margin: 0px;
  margin-left: -500px;
  
  /*margin-bottom: 1px;*/
}

a:-webkit-any-link {
  text-decoration: none;
  color: white;
  
}
li, ul {
  list-style-type: none;
}


a:visited{
  text-decoration: none;
}

a:-webkit-any-link {
  color: black;
}

.App-link {
  color: #61dafb;
  text-decoration: none;
}

.Link
{
  text-decoration: none;
  color: black;
}

#Link
{
  color: black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
